
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

h1 {
  color: #31899b;
}


/* Home Page */
.fa-solid {
  color: #31899b;
  font-size: 6em;
}

